.profile{
    margin: 25px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    border-radius: 7px;
    background-color: rgba(212, 216, 216,0.1);
}

.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
}