<nav class="navbar navbar-expand navbar-dark bgcolor">
    <a class="navbar-brand" href="#">Red Plag</a>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav" *ngIf="!username">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
        <ul class="navbar-nav" *ngIf="username">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" style="color: white;">Hello {{username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
            </li>
        </ul>
    </div>
</nav>