.button-container{
  padding: 8px;
  border-bottom: solid;
  border-color: gray;
}
.sidebar{
  padding: 0;
  border-top: 0;
  box-shadow: 5px 0 8px -8px black;
  height: 92.3vh;
}
.list-overflow{
    max-height: 600px;
    overflow-y: scroll;
  }
.list-overflow::-webkit-scrollbar {
    display: none;
  }
.round{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .form-signin {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.center{
  height: 92.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}