<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Batch</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body"> 
    <form class="form-signin" [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="name" type="text" class="form-control" name="title" />
    </div>
    
    <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" rows="5" class="form-control" name="description" ></textarea>
    </div>
      <input type="file" (change)="syncFiles($event)" id="createFiles" multiple>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
  </div> 
</ng-template>

<!-- <div class="container-fluid button-container">
  <div class="d-flex justify-content-around">
    <button type="button" class="btn btn-lg btn-primary" (click)="open(content)">Create a new batch</button>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class = "col-sm-4 sidebar">
      <div class="d-flex justify-content-around button-container" >
        <button type="button" class="btn btn-lg btn-danger round" (click)="open(content)"><i class="fa fa-plus"></i></button>
      </div>
        <ul class="list-group list-overflow" style="border-radius: 0;border-top: tomato;">
          <!-- <li class="list-group-item">
            
          </li> -->
          <a *ngFor="let batch of batches" [routerLink]="batch.id" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{batch.name}}</h5>
              <small>{{batch.created_at}}</small>
            </div>
            <p class="mb-1">{{batch.description}}</p>
            <!-- <small>Donec id elit non mi porta.</small> -->
          </a>
        </ul>
    </div>
    <div class="col-sm-8">
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

